[defaults]
remote_user       = ansible
inventory = inventory/hosts.ini
private_key_file  = ~/.ssh/ansible_ed25519
host_key_checking = True

[privilege_escalation]
become        = true
become_method = sudo
become_user   = root
